@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: white !important;
  color: black !important;
}
/* Add button -------------------------------- */
.addButton {
  width: 45px;
  border: 1px solid black;
  border-radius:5px ;
  text-transform: uppercase; 
  background: linear-gradient(to right, #1b5e20,  #4caf50); 
  color: #fff; 
  font-size: smaller;
  font-weight: 500;
  cursor: pointer;
}
.addButton:hover {
  background-image: linear-gradient(to left, #1b5e20,  #4caf50);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.15); 
}

/* Edit button -------------------------------- */
.editButton {
  width: 45px;
  border: 1px solid black;
  border-radius:5px ;
  text-transform: uppercase; 
  background: linear-gradient(to right, #6b21a8, #2563eb); 
  color: #fff; 
  font-size: smaller;
  font-weight: 500;
  cursor: pointer;
}
.editButton:hover {
  background-image: linear-gradient(to left, #6b21a8, #2563eb);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.15); 
}

/* Accept button -------------------------------- */
.acceptButton {
  width: 80px;
  border: 1px solid black;
  border-radius:5px ;
  text-transform: uppercase; 
  background: linear-gradient(to right, #1b5e20,  #4caf50); 
  color: #fff; 
  font-size: smaller;
  font-weight: 500;
  cursor: pointer;
}
.acceptButton:hover {
  background-image: linear-gradient(to left, #1b5e20,  #4caf50);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.15); 
}

/* Decline button ---------------------------------- */
.declineButton {
  width: 65px;
  border: 1px solid black;
  border-radius:5px ;
  text-transform: uppercase; 
  background: linear-gradient(to right, #b71c1c, #e53935); 
  color: #fff; 
  font-size: smaller;
  font-weight: 500;
  cursor: pointer;
}
.declineButton:hover {
  background-image: linear-gradient(to left, #b71c1c, #e53935);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.15); 
}

/* Decline button ---------------------------------- */
.declineButton1 {
  width: 65px;
  height: 20px;
  border: 1px solid black;
  border-radius:5px ;
  text-transform: uppercase; 
  background: linear-gradient(to right, #b71c1c, #e53935); 
  color: #fff; 
  font-size: smaller;
  font-weight: 500;
  cursor: pointer;
}
.declineButton1:hover {
  background-image: linear-gradient(to left, #b71c1c, #e53935);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.15); 
}

/* Details button  -----------------------------------------------*/
.detailstButton {
  width: 70px;
  border: 1px solid black;
  border-radius:5px ;
  text-transform: uppercase; 
  background: linear-gradient(to right, #212121, #9e9e9e); 
  color: #fff; 
  font-size: smaller;
  font-weight: 500;
  cursor: pointer;
}
.detailstButton:hover {
  background-image: linear-gradient(to left, #212121, #9e9e9e);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.15); 
}

/* save Form Button  -----------------------------------------------*/
.saveFormButton {
  padding: 5px 5px;
  margin-top: 15px;
  width: 100%;
  border: 1px solid black;
  border-radius:5px ;
  text-transform: uppercase; 
  background: linear-gradient(to right, #3f51b5, #1e88e5); 
  color: #fff; 
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}
.saveFormButton:hover {
  background-image: linear-gradient(to left, #3f51b5, #1e88e5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.15); 
}

